img.img-fluid {
    max-height: 150px;
    object-fit: contain;
}

.hero-section {
    background: url('/Data/Images/img_Back1.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    border-radius: 8px;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px 20px;
    border-radius: 8px;
}
